@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px; }
  .container {
    width: 90%; }
  .wrapper .container {
    width: 100%; }
  .wrapper header {
    align-items: flex-start; }
    .wrapper header .logo {
      margin-left: 10%;
      width: 58px;
      height: 58px; }
    .wrapper header .wrap .menu {
      position: absolute;
      right: 0;
      width: 50%; }
      .wrapper header .wrap .menu ul {
        flex-direction: column;
        margin-top: 50px; }
        .wrapper header .wrap .menu ul li {
          display: none;
          padding: 0; }
          .wrapper header .wrap .menu ul li a {
            color: black; }
        .wrapper header .wrap .menu ul .icon {
          opacity: 1;
          display: block;
          position: absolute;
          right: 20px;
          top: 0; }
          .wrapper header .wrap .menu ul .icon a {
            padding: 5px 0; }
            .wrapper header .wrap .menu ul .icon a:last-child {
              border: none; }
              .wrapper header .wrap .menu ul .icon a:last-child:hover {
                border: none; }
            .wrapper header .wrap .menu ul .icon a:hover {
              border: none; }
        .wrapper header .wrap .menu ul .join {
          background-color: #69b7f2a2;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-bottom: none !important; }
          .wrapper header .wrap .menu ul .join a::after {
            display: none; }
          .wrapper header .wrap .menu ul .join:hover a {
            padding-bottom: 0;
            border-bottom: none;
            color: #000 !important; }
      .wrapper header .wrap .menu .responsive {
        background-color: #69b7f2a2; }
        .wrapper header .wrap .menu .responsive li {
          position: relative;
          display: block;
          border-bottom: 1px solid #000;
          text-align: center; }
          .wrapper header .wrap .menu .responsive li a {
            border-bottom: none;
            padding: 5px 0;
            width: 100%; }
            .wrapper header .wrap .menu .responsive li a:hover {
              padding: 5px 0;
              border-bottom: none;
              color: #fff;
              background-color: transparent; }
          .wrapper header .wrap .menu .responsive li:last-child:hover {
            background-color: transparent; }
          .wrapper header .wrap .menu .responsive li:hover {
            background-color: #2c93e2bd; }
        .wrapper header .wrap .menu .responsive .icon {
          position: absolute;
          top: 0;
          right: 20px;
          border-bottom: none; }
          .wrapper header .wrap .menu .responsive .icon a {
            padding: 5px 0; }
  .wrapper .wrapper_information {
    margin: 0 auto;
    width: 80%; }
    .wrapper .wrapper_information .wrap_information {
      width: 100%;
      text-align: center; }
    .wrapper .wrapper_information .wrap_input {
      width: 90%;
      margin: 20px auto;
      height: 40px; }
      .wrapper .wrapper_information .wrap_input .select-items div,
      .wrapper .wrapper_information .wrap_input .select-selected {
        height: 40px; }
  .phone .container {
    width: 90%; }
  .features {
    padding-bottom: 60px; }
    .features .container .features_information {
      margin: 0 auto;
      width: 95%; }
    .features .container .features_blocks {
      margin-top: 25px; }
      .features .container .features_blocks .features_block {
        width: 100%; }
        .features .container .features_blocks .features_block .circle_block {
          width: 100px;
          height: 100px; }
        .features .container .features_blocks .features_block h3 {
          margin-top: 20px; }
        .features .container .features_blocks .features_block p {
          margin-top: 25px; }
  .works .container .works_information {
    width: 95%; }
  .works .container .work_gallery {
    margin-top: 50px; }
    .works .container .work_gallery .menu_gallery ul li a {
      padding: 15px 20px; }
    .works .container .work_gallery .blocks_gallery .block_gallery .text_gallery {
      height: 60px; }
  .push .container .push_information {
    width: 90%; }
    .push .container .push_information .logo {
      width: 15%;
      height: 15%; }
    .push .container .push_information .information p {
      font-size: 16px; }
    .push .container .push_information .information .text {
      font-size: 30px; }
  .desktop {
    padding-bottom: 55vh; }
    .desktop .container .computer {
      bottom: -50vh; }
    .desktop .container .button_up {
      top: 15vh;
      left: 0;
      width: 40px;
      height: 40px; }
  footer .footer_information {
    flex-wrap: wrap; }
    footer .footer_information .footer_list ul {
      height: 150px; }
    footer .footer_information .footer_address {
      width: 100%;
      text-align: center; }
      footer .footer_information .footer_address p {
        margin-top: 0; } }

@media only screen and (max-width: 650px) {
  .works .container .work_gallery .blocks_gallery .block_gallery {
    width: 48%;
    margin-top: 25px; }
    .works .container .work_gallery .blocks_gallery .block_gallery .photo_gallery {
      height: 30vh; } }
